@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
:root{
  --orange: #fa9200;
  --black: #000000;
}
*{
  font-family: 'Montserrat', sans-serif;
}
.social{
  background-color: #000000;
}
.para{
 

    padding: 15px;
    color:aliceblue;
    text-transform: none;
     font-family: 'Montserrat';
    /* font-family: "Times New Roman", Times, serif; */
    font-weight: bold;
     text-align: justify;
     font-size: large;
   
   
   }
   .heading{
   
    padding: 15px;
    color:var(--orange);
    font-family:'Roboto', sans-serif;
    /* font-family: "Times New Roman", Times, serif; */
    font-size: 7em;
    
   
   }
   

   .cardm {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     height: 220%;
     width: 90%;
     padding: 15px 25px;
     border-radius: 50px;
     background-color: #202930;
     text-align: center;
     overflow: hidden;
     
   }
   .full{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 5%;
   }
   
   
   
   /* Google Font CDN Link */
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
   *{
     margin: 10;
     padding: 10;
     box-sizing: border-box;
     font-family: 'Poppins',sans-serif;
   }
   .row{
     
     display: flex;
   }
   
   
   ::selection{
     background:	#FF676D;
     color: #fff;
   }
   .container{
    overflow: scroll;
     padding: 10px 20px;
     -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */


     

   }
   .cards{
    display: flex;
   }
   
   .container::-webkit-scrollbar {
    display: none;
  }

  
  
   .container .maincard{
     display: flex;
     
    justify-content: space-between;
     width: 100%;
     transition: 1s;
     flex-wrap: wrap;
   }
   /* #two:checked ~ .maincard{
     margin-left: -100%;
   } */

   /*slider */

   .container .maincard .cards{
     /* width: calc(100% / 2 - 10px); */
     width: 100%;
     display: flex;
     overflow: scroll;
     
     /* margin: 0 20px; */
     justify-content: space-between;
     -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
     
   }

   .container .maincard .cards::-webkit-scrollbar{
     display: none;
   }
   .card{
     margin-left: 1%;
     min-width: 25%;
   }
   
   .maincard .cards .card{
      width: calc(100% / 3 - 10px);  
     
     background: #fff;
     border-radius: 50px;
     padding: 30px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
     transition: all 0.4s ease;
     /* animation: scroll 40s linear infinite; */
     
   }
   
   
   
   .cards .card .content{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
   }
   .cards .card .content .img{
     height: 130px;
     width: 130px;
     border-radius: 50%;
     padding: 3px;
     background: #FF676D;
     margin-bottom: 14px;
   }
   .card .content .img img{
     height: 100%;
     width: 100%;
     border: 3px solid #ffff;
     border-radius: 50%;
     object-fit: cover;
   }
   .card .content .name{
     font-size: 20px;
     font-weight: 500;
   }
   .card .content .job{
     font-size: 20px;
     color: #FF676D;
   }
   .card .content .mediaicons{
     margin-top: 10px;
     display: flex;
   
   }
   
   .mediaicons a{
     text-align: center;
     line-height: 33px;
     height: 35px;
     width: 35px;
     margin: 0 4px;
     font-size: 14px;
     color: #FFF;
     border-radius: 50%;
     border: 2px solid transparent;
     background: #FF676D;
     transition: all 0.3s ease;
   }
   .mediaicons a:hover{
     color: #FF676D;
     background-color: #fff;
     border-color: #FF676D;
   }
    .container .button{
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 20px;
   }
   .button label{
     height: 15px;
     width: 15px;
     border-radius: 20px;
     background: #fff;
     margin: 0 4px;
     cursor: pointer;
     transition: all 0.5s ease;
   }
   .button label.active{
     width: 35px;
   }
   #one:checked ~ .button .one{
     width: 35px;
   }
   #one:checked ~ .button .two{
     width: 15px;
   }
   #two:checked ~ .button .one{
     width: 15px;
   }
   #two:checked ~ .button .two{
     width: 35px;
   }
   input[type="radio"]{
     display: none;
   }
   @media (max-width: 768px) {
   
     
    .card{
      min-width: 49%;
      
    }
    .container{
      padding: 0 0;
    }
     .cards{
       display: flex;
     }
     .card{
       display: flex;
       
     }
     .cardm{
       padding: 0 0;
     }
     .main-card .cards .card{
       margin: 20px 0 10px 0;
       width: calc(100% / 2 - 10px);
     }
     .row{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }
     
         .card{
       margin-top: 20%;
     }
     .container .maincard .cards .card{
      margin: 20px 10px 10px 0; 
        width: 275px;
       height: auto;
 
      }
      
      .cards .card .content .img{
        height: 100px;
        width: 100px;
        
      }
      .card .content .job{
        font-size: 18px;
        color: #FF676D;
      }
      .card .content .name{
        font-size: 19px;
        font-weight: 500;
      }
      .container .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 2% 2%;
        
        
      }

   }
   @media (max-width: 600px) {
     .card{
       min-width: 100%;
       
       
       
     }
     .container{
       padding: 0 0;
     }
    .cards .card .content .img{
      height: 80px;
      width: 80px;
      
    }
    .para{

       font-size: medium;
     
     }
     
     .card .content .job{
      font-size: 15px;
      color: #FF676D;
    }
    .card .content .name{
      font-size: 17px;
      font-weight: 500;
    }

      .cardm{
        padding: 0;
        margin: 0;
        
      }
     /* .maincard{
       display: flex;
       justify-content: center;
       align-items: center;
     } */
     .container .maincard .cards{
       
       width: 100%;
     }
     .container .maincard .cards .card{
     margin: 20px 10px 10px 0; 
       width: 225px;
      height: auto;

     }

     
    .container .row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 2% 2%;
      width: 100%;
      margin-left: 624%;
      
    }
   
    
   }

   

  

   
   @media (max-width:600px) and (min-width:576px) {
    .container .row{
     
      /* width: 950px; */
       margin-left: 288.3%; 
      
    }
}

@media (max-width:767px) and (min-width:601px) {
  .container .row{
   
    /* width: 950px; */
     margin-left: 288%;
     width: 100%;
    
  }
}

   
   /* End Scroller*/
   
   /* Flip w3*/
   
   .flip-card {
     background-color: transparent;
     width: 300px;
     height: 300px;
     perspective: 1000px;
   }
   
   .flip-card-inner {
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 0.6s;
     transform-style: preserve-3d;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   }
   
   .flipcard:hover .flipcardinner {
     transform: rotateY(180deg);
   }
   
   .flipcardfront, .flipcardback {
     position: absolute;
     width: 100%;
     height: 100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
   }
   
   .flipcardfront {
     background-color: #bbb;
     color: black;
   }
   
   .flipcardback {
     background-color: var(--orange);
     color: white;
     transform: rotateY(180deg);
   }
   
   
   
   
   
   
   
   /*Team*/
   
   .commite{
     font-size: 4em;
   }
   
   .ourteam {
     padding: 30px 0px 40px 0px;
     margin-bottom: 30px;
     background-color: #111419;
     text-align: center;
     overflow: hidden;
     position: relative;
      border-radius: 50px;
   }
   
   .ourteam .picture {
     display: inline-block;
     height: 130px;
     width: 130px;
     margin-bottom: 50px;
     z-index: 1;
     position: relative;
   }
   
   .ourteam .picture::before {
     content: "";
     width: 100%;
     height: 0;
     border-radius: 50%;
     background-color: var(--orange);
     position: absolute;
     bottom: 135%;
     right: 0;
     left: 0;
     opacity: 0.9;
     transform: scale(3);
     transition: all 0.3s linear 0s;
   }
   
   .ourteam:hover .picture::before {
     height: 100%;
   }
   
   .ourteam .picture::after {
     content: "";
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color: var(--orange);
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
   }
   
   .ourteam .picture img {
     width: 100%;
     height: auto;
     border-radius: 50%;
     transform: scale(1);
     transition: all 0.9s ease 0s;
   }
   
   .ourteam:hover .picture img {
     box-shadow: 0 0 0 14px #f7f5ec;
     transform: scale(0.7);
   }
   
   .ourteam .title {
     display: block;
     font-size: 15px;
     color: white;
     text-transform: capitalize;
   }
   
   .ourteam .social {
     width: 100%;
     padding: 0;
     margin: 0;
     background-color: var(--orange);
     position: absolute;
     bottom: -100px;
     left: 0;
     transition: all 0.5s ease 0s;
   }
   
   .ourteam:hover .social {
     bottom: 0px;
   }
   
   .ourteam .social li {
     display: inline-block;
    }
    
    .ourteam .social li a {
     background-color: #111419;
     border-radius: 50px;
     display: block;
     padding: 6px;
     font-size: 14px;
     color: white;
     transition: all 0.3s ease 0s;
     text-decoration: none;
   }
   
   .ourteam .social li a:hover {
     color: #1369ce;
     background-color: #f7f5ec;
   }

   
   
   

   /* @media screen and (max-width: 550px) {
    .container{
      width: 75%;
      margin-left: 12.5%;
    }
    .container .maincard .cards .card{
      margin: 4%;
 
      }
    .container .row{
      
      margin-left: 625%;
      
    }
    .card{
      min-width: 90%;
    }
   } */

  
